.idea/libraries/*
.idea/*
out/
paradigms-2019.iml
artifacts/md2html/*

clojure/cljtest/*
clojure/cljtest/*/*
clojure/examples/*
clojure/lib/*
clojure/*
!clojure/linear.clj
!clojure/functional.clj
!clojure/expression.clj
!clojure/combinator_lib.clj
!clojure/objects.clj

java/expression/*/*.class
java/expression/generic/*Test.java
java/md2html/*.class
java/md2htnl/*Test.java

javascript/examples/*
javascript/graal/*
javascript/jstest/*
javascript/jstest/*/*
javascript/*
!javascript/functionalExpression.js
!javascript/objectExpression.js

prolog/examples/*
prolog/lib/*
prolog/prtest/*
prolog/prtest/*/*
prolog/*
